html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

#button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border: 1px solid red;
}

#top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

#my-custom-control {
    padding:5px 10px;
    background:white;
    color: black;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
}

#price {
    font-size : 18px;
    color : black;
}

.intloc {
    margin-top: 4px;
}

.intloc:first-child {
    margin-top: 0;
}

.tag {
    margin-left: .5em;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}

.Hist {
    border: 1px solid #3498db;
    color: #3498db;
}

.ArtH {
    border: 1px solid #9b59b6;
    color: #9b59b6;
}

.gradient {
    position: absolute;
    z-index: 500;
    height: 60px;
    width: 30px;
    white-space: nowrap;
    display: inline-block;
    right: 50px;
    bottom: 28px;
}

.grad-step {
    display: block;
    height: 1%;
    width: 30px;
}

.gradient .domain-min {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    right: 35px;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px;
    color: green;
}

.gradient .domain-max {
    position: absolute;
    top: 0;
    font-size: 11px;
    right: 35px;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px;
    color: red;
}

.rowParent, .columnParent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.columnParent{
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flexChild{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#columnChild11288{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#rowChild31006{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-align: center;
    align-items: center;
}

#rowChild13367{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; width: 25%;
}

#rowChild18187{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; width: 25%;
}

#rowChild97145{
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;
}

#rowChild29817{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; width: 20%; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center;
}

#rowChild73936{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; width: 20%; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center;
}

#columnChild67987{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start;
}

#sidediv {
    background: white;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    position: absolute;
    top: 1em;
    left: 10px;
    height: 8em;
    bottom: 0;
    z-index: 2000;
    width: 350px;
}

.sidedivButton {
    background-color: #008CBA;
    color: white;
    width: 100%;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid transparent;
}

.sidedivButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#budgetValue {
    width: 100%;
    text-align: center;
    color: #008CBA;
    font-weight: bold;
    margin-top: -8px;
}

#budget {
    width: 90%;
}

#startingLoc {
    background-color: white;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    border: none;
    margin: 8px 0;
    border-bottom: 2px solid #008CBA;
    color: black;
    padding: 2px 4px 2px 25px;
    width: 80%;
}

#budget::-moz-range-track {
    background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 20%);
}

#intlocsHeader {
    padding-right: 150px;
}

.customButton {
    position: absolute;
    width: 150px;
    top: 55px;
    right: 10px;
    background-color: #008CBA;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid transparent;
}

.customButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.hidden {
    display: none;
}
